# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules
.env
C:\Users\user\OneDrive\Desktop\StockWise\server\public\images\mi voice remote-1724410325604.jpg
C:\Users\user\OneDrive\Desktop\StockWise\server\public\images\nike-1725713828486.jpg
C:\Users\user\OneDrive\Desktop\StockWise\server\public\images\puma-1725530212477.jpg

# Local Netlify folder
.netlify
